<% content_for :title, "FTC Iowa" %>

<h2>Event Name</h2>

<!--<h2>Full Team Name</h2>
<!--<div style="text-align: center">
	<img src="team.jpg" width="60%">
</div>-->
<!--
<div data-role="collapsibleset">
	<div data-role="collapsible">
		<h1>Team Information</h1>
		<p>The team provided information will go here.</p>
	</div>
	<div data-role="collapsible">
		<h1>Matches</h1>
		<label for="all-matches" id="all-matches-label">Show all matches:</label>
		<input type="checkbox" data-role="flipswitch" name="all-matches" id="all-matches">
		<table data-role="table" data-mode="columntoggle" class="ui-responsive match-list" id="match-results">
			<thead>
				<tr>
					<th data-priority="1">Match</th>
					<th data-priority="1">Red</th>
					<th data-priority="1">Blue</th>
					<th data-priority="1">Result</th>
				</tr>
			</thead>
			</tbody>
				<tr>
					<td>12</td>
					<td>235<br><b>1234</td>
					<td>2672<br>1906</td>
					<td class="tie">100-100<br>Tie</td>
				</tr>
				<tr>
					<td>24</td>
					<td><b>1234</b><br>2351</td>
					<td>1942<br>10210</td>
					<td class="red-won">130-123<br>Red</td>
				</tr>	
				<tr>
					<td><a href="match.html" data-transition="flip">42</a></td>
					<td>324<br>5325</td>
					<td>234<br><b>1234</b></td>
					<td class="blue-won">150-23<br>Blue</br></td>
				</tr>	
				<tr>
					<td>50</td>
					<td>6531<br>1058</td>
					<td><b>1234</b><br>2950</td>
					<td></td>
			</tbody>
		</table>
	</div>
</div>
-->

