<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="team.html" data-transition="slide" data-direction="reverse" data-icon="arrow-l"></a></li>
			<li><a href="/" data-icon="home"></a></li>
			<li><a href="team.html" data-transition="slide" data-icon="arrow-r"></a></li>				
		</ul>
	</div>
</div>