<div data-role="header" data-position="fixed">
	<a href="#menu" class="ui-btn ui-corner-all ui-shadow ui-icon-grid ui-btn-icon-left">Menu</a>
	<h1><%= yield(:title) %></h1>
	<a href="#team-search" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-corner-all ui-shadow ui-icon-search ui-btn-icon-left">Team</a>
	<!-- TODO: make search an expanding search box in the header instead of popup -->
</div>