<div data-role="panel" id="menu" data-display="overlay">
	<h2>Event Links</h2>
	<div data-role="controlgroup" data-type="vertical">
		<a href="#" class="ui-btn ui-icon-info ui-btn-icon-left">Information</a>
		<a href="#" class="ui-btn ui-icon-calendar ui-btn-icon-left">Event Schedule</a>
		<a href="#" class="ui-btn ui-icon-bars ui-btn-icon-left">Team List</a>
		<a href="#" class="ui-btn ui-icon-bullets ui-btn-icon-left">Match Results</a>
		<a href="#" class="ui-btn ui-icon-star ui-btn-icon-left">Team Rankings</a>
	</div>
	
	<h2>Team Links</h2>
	<div data-role="controlgroup" data-type="vertical">
		<a href="#" class="ui-btn ui-icon-user ui-btn-icon-left">Team Login</a>
		<a href="#" class="ui-btn ui-icon-calendar ui-btn-icon-left">Team Schedule</a>
		<a href="#" class="ui-btn ui-icon-check ui-btn-icon-left">Inspection</a>
		<a href="#" class="ui-btn ui-icon-edit ui-btn-icon-left">Update Info</a>
		<a href="#" class="ui-btn ui-icon-gear ui-btn-icon-left">Settings</a>
	</div>
</div>